* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

#table2 {
  font-size: 14px;
}

@media only screen and (max-width: 426px) {
  #table2 {
    width: 100%;
  }
}

@media only screen and (min-width: 426px) {
  #table2 {
    width: 70%;
  }
}
